@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
}

body {
    background: #000000;
}

.chat-container {
    display: flex;
    height: 100vh;

    .sidebar-left {
        position: relative;
        width: 25%;
        border-right: 1px solid #ddd;
        overflow-y: auto;
        padding: 20px;

        .greeting-user {
            margin: 0 0 10px 0;
            font-size: 1.5rem;

            .user-fullname {
                text-transform: capitalize;
            }
        }

        .profile-user {
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0 0 20px 0;

            .user-picture-container {
                width: 50px;
                height: 50px;
                border-radius: 50px;

                .user-picture {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50px;
                }
            }

            .user-info {
                .username {
                    font-weight: 600;
                }
            }
        }

        .sidebar-left-navbar {
            width: fit-content;
            background: #181C14;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 4px;
            display: flex;
            justify-content: end;
            
            .icon-left-navbar {
                padding: 0 5px;
                font-size: small;
            }
        }

        ul {
            padding: 5px 5px 5px 0;
            background: #181C14;
            border-radius: 4px;
            border-top-left-radius: 0;
            margin: 0 0 20px 0;

            .sidebar-content {
                padding: 5px;

                .sidebar-content-title {
                    font-weight: 600;
                    padding: 5px 10px 5px 0;
                }

                .sidebar-content-nav {
                    color: #EEEEEE;
                    padding: 5px 10px;
                }
            }

            li {
                width: 100%;
                list-style: none;

                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    padding: 5px;
                    text-decoration: none;

                    .contact-picture-container {
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;

                        .contact-picture {
                            width: 100%;
                            height: 100%;
                            border-radius: 50px;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .contact-info-container {
                        width: 80%;

                        .contact-info {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .contact-name {
                                font-weight: 600;
                            }

                            .time {
                                font-size: x-small;
                            }
                        }

                        .contact-additional-info {
                            .contact-last-chat {
                                font-size: small;
                                color: #EEEEEE;
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }

        .sidebar-left-navigation {
            position: fixed;
            width: 25%;
            height: 40px;
            left: 0;
            bottom: 0;
            background: #191515;
            border-right: 1px solid #FFFFFF;
        }
    }

    .sidebar-left::-webkit-scrollbar {
        display: none;
    }

    .chat-main {
        position: relative;
        width: 50%;
        overflow-y: auto;
        padding: 20px 50px 0 50px;

        .conversation-header {
            .conversation-title {
                font-size: 3rem;
                text-align: center;
                font-weight: 900;
                text-transform: uppercase;
            }

            .conversation-with {
                text-align: center;
                margin: 5px 0 20px 0;
                color: #EEEEEE;
            }

            .conversation-cover {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;

                .conversation-picture-container {
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;

                    .conversation-picture {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50px;
                    }
                }
            }
        }

        .conversation-date {
            color: #EEEEEE;
            text-align: center;
            font-size: small;
            margin: 40px 0 40px 0;
        }

        .conversation-chat-container {
            padding: 0 0 70px 0;

            .chat-conversation-bubble {
                display: flex;
                gap: 10px;
                margin: 10px 0;
                width: 100%;

                .bubble-picture-container {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;


                    .bubble-picture {
                        width: 100%;
                        height: 100%;
                        border-radius: 50px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .bubble-information-container {
                    max-width: 85%;
                    width: fit-content;
                    border-radius: 4px;
                    padding: 4px 8px;
                    background: #1DB954;

                    .bubble-information {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .bubble-username {
                            font-weight: 600;
                        }

                        .bubble-time {
                            color: #EEEEEE;
                            font-size: x-small;
                        }
                    }

                    .bubble-chat {
                        margin: 5px 0 0 0;
                        width: fit-content;
                        color: #EEEEEE;
                        border-radius: 4px;
                        background: #1DB954;
                    }
                }
            }
        }

        .conversation-input-container {
            position: fixed;
            width: 50%;
            height: fit-content;
            padding: 20px 60px;
            bottom: 0;
            left: 25%;

            .input-container {
                width: 100%;
                border-radius: 50px;
                padding: 10px 20px;
                background: #191515;
                font-size: small;
                color: #EEEEEE;    
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .input-leftbar {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    .input-message {
                        border: none;
                        background: none;
                        outline: none;
                        width: 100%;
                    }
                }
            }
        }
    }

    .sidebar-right {
        width: 25%;
        max-height: 100vh;
        border-left: 1px solid #ddd;
        overflow-y: auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .chart-wrapper {
            padding: 20px;
        }

        canvas {
            display: block;
            margin: 0 auto;
        }
    }
}