@use '../components/chat-main-header';
@use '../components/chat-main-conversation';

.chat-main {
    position: relative;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;
}